[submodule "nitroglycerin"]
	path = nitroglycerin
	url = https://github.com/phetsims/nitroglycerin.git
[submodule "pubchem-mcp-server"]
	path = pubchem-mcp-server
	url = https://github.com/cyanheads/pubchem-mcp-server.git
[submodule "mcp_rdkit"]
	path = mcp_rdkit
	url = https://github.com/s20ss/mcp_rdkit.git
[submodule "spec-kit"]
	path = spec-kit
	url = https://github.com/github/spec-kit.git
